openapi: 3.0.1
info:
  title: EarthRef.org Internal API
  description: 
    The OpenAPI definition for EarthRef.org''s Internal API.
    Access for this API is IP whitelisted to the EarthRef.org web servers and developers.<br/><br/>
  contact:
    email: webmaster@earthref.org
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
  version: '1.0.0'
externalDocs:
  description: EarthRef.org
  url: https://earthref.org/
servers:
- url: https://api.earthref.org

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
  parameters:
    repository:
      name: repository
      in: path
      description: Repository
      required: true
      schema:
        type: string
        enum: [MagIC]
    contributionID:
      name: id
      in: query
      description: Contribution IDs
      required: true
      schema:
        type: integer
        minimum: 1
  responses:
    unauthorizedError:
      description: Authentication information is missing or invalid
      headers:
        Authenticate:
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorReponse'
    serverError:
      description: Server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorReponse'
    noMatches:
      description: No matches found
      content:
        {}
  schemas:
    messageResponse:
      type: object
      required:
      - message
      properties:
        message:
          type: string
      example:
        message: 'Here is a message.'
    errorReponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/messageResponse'
      example:
        errors:
        - message: 'There was an error.'
paths:
  /v1/internal/health-check:
    get:
      tags:
      - System
      summary: Check the health of the API
      operationId: v1InternalHealthCheck
      responses:
        200:
          description: Health check passed
          content:
            application/json:
              schema:
                type: object
                required:
                - message
                properties:
                  message:
                    type: string
                example:
                  message: 'Healthy'
        500:
          description: Health check failed
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - message
                      properties:
                        message:
                          type: string
                      example:
                        message: 'Health check failed'